/* .swiper-container {
    width: 100%;
    height: 600px;
}   */
.root{
    position: relative;
}

.controlContainer{
    position: absolute;
    width: 100%;
    min-width: 1200px;
    top: 45%;
    height: 70px;
    /* display: -ms-flex;
    display: flex; */
    
    /* justify-content: space-between; */
    text-align:justify 

}
.controlContainer span{
    cursor: pointer;
    color: #fff;
    font-size: 70px;
    position: absolute;
}
.controlContainer span:nth-child(2){
    right: 0;
}
nz-carousel{
    height: 600px;
}

[nz-carousel-content] {
      text-align: center;
      height: 160px;
      line-height: 160px;
      background: #364d79;
      color: #fff;
      overflow: hidden;
    }

    h3 {
        height: 100%;
        /* background: url(../../assets/imgs/banner1.jpg); */
      /* color: #fff; */
    }

    .go{
        height: 600px;
    }