<!-- <div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide"><img src="../../assets/imgs/banner1.jpg" alt=""></div>
    <div class="swiper-slide"><img src="../../assets/imgs/banner2.jpg" alt=""></div>
    <div class="swiper-slide"><img src="../../assets/imgs/banner3.jpg" alt=""></div>
  </div>

</div> -->
<div class="root">
  <nz-carousel #carousel [nzEffect]="effect"  >
    <div class="go" nz-carousel-content *ngFor="let index of array">
      <div><img src="{{index}}"></div>
    </div>
  </nz-carousel>
  
  <div class="controlContainer">
    <span class="controlBar" (click)="carousel.pre()">
      <i class="anticon anticon-left"></i>
    </span>
    <span class="controlBar" (click)="carousel.next()">
      <i class="anticon anticon-right"></i>
    </span>
  </div>
</div>
