.nav{
    height:100px;
    vertical-align: middle;
    line-height: 100px;
    overflow: hidden;
}
.logo{
    /* margin-top: 17px; */
    /* line-height: 100px; */
    width: 30%;
    display: inline-block; 
    height:100px;
    line-height: 100px;
    vertical-align: middle;
    margin-top: 17px;
}
.nav-bar{
    /* line-height: 100px; */
    width: 70%;
    display:inline-block;
    /* text-align: right; */
    /* vertical-align:middle; */
    /* base */
}
.nav-bar div{
    display: inline-block;
}
.nav-bar a{
    display: inline-block;
    box-sizing: border-box;;
    height: 100px;
    width: 130px;
    outline: none;
    color: inherit;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;

}



.nav-bar a{display: inline-block;min-width: 124px;color:#333;font-size: 18px;text-align:center;position: relative;transition:all 0.6s;}
.nav-bar a.active{background-color:#0099ff;color:#fff;position: relative;}
.nav-bar a:hover{transform: translate3d(0, -100%, 0);}
.nav-bar a:after{content:attr(data-nav);display: inline-block;height: 100%;width: 100%;left: 0;top: 100%;position: absolute;color:#0099ff;}
.nav-bar a.active:hover{transform: translateY(0);}