<div class="nav">

  <div class="logo">
    <img src="assets/imgs/logo.png" alt="">
  </div>
  
  <div class="nav-bar">
    <div class='animated fadeInDown'><a (click)="active($event)" class='active' data-nav='首页' href="#">首页</a>                </div> 
    <div class='animated fadeInDown delay-01s'><a (click)="active($event)" href="#" data-nav='企业介绍'>企业介绍</a>                </div> 
    <div class='animated fadeInDown delay-02s'><a (click)="active($event)" href="#" data-nav='产品中心'>产品中心</a>                </div> 
    <div class='animated fadeInDown delay-04s'><a (click)="active($event)" href="#" data-nav='新闻资讯'>新闻资讯</a>                </div> 
    <div class='animated fadeInDown delay-05s'><a (click)="active($event)" href="#" data-nav='客户端下载'>客户端下载</a>                </div> 
    <div class='animated fadeInDown delay-07s'><a (click)="active($event)" href="#" data-nav='联系我们'>联系我们</a>                </div> 
  </div>
</div>
