.baoguo{
    width: 100%;
    /* margin: 0 auto; */
    /* align-content: center; */
    text-align:center;
}
.kuang{
    display: inline-block;
    width: 1200px;
    text-align:left;
}
app-myswiper{
    min-width: 1200px;
}