<div class="root">
  <div class="scale-carousel">
    <!-- scale-carousel-item 1 -->
    <div class="scale-carousel-item">
      <div class="business-card">
        <img src="assets/imgs/nav_honor .png" alt="">
        <h6>杨春树0</h6>
        <h6>YANG CHUN SHU</h6>
        <h2>什么公司0</h2>
      </div>
      <div class="business-card-detail">
        <p>创始人创始人创始人创始人创始人创始人创始人创始人创始人创始人创始人创始人创始人创始人</p>
      </div>
    </div>
    <!-- scale-carousel-item 1 -->
    <!-- scale-carousel-item 2 -->
    <div class="scale-carousel-item">
        <div class="business-card">
            <img src="assets/imgs/nav_chat.png" alt="">
            <h6>杨春树1</h6>
            <h6>YANG CHUN SHU</h6>
            <h2>什么公司1</h2>
          </div>
          <div class="business-card-detail">
            <p>创始人创始人创始人创始人</p>
          </div>
    </div>
    <!-- scale-carousel-item 2 -->
    <!-- scale-carousel-item 3 -->
    <div class="scale-carousel-item">
        <div class="business-card">
            <img src="assets/imgs/nav_culture.png" alt="">
            <h6>杨春树2</h6>
            <h6>YANG CHUN SHU</h6>
            <h2>什么公司2</h2>
          </div>
          <div class="business-card-detail">
            <p>创始人创始人创始人创始人创始人创始人创始人创始人</p>
          </div>
    </div>
    <!-- scale-carousel-item 3 -->
    <div class="controlContainer">
        <span class="controlBar" (click)="pre()">
          <i class="anticon anticon-left"></i>
        </span>
        <span class="controlBar" (click)="next()">
          <i class="anticon anticon-right"></i>
        </span>
      </div>
  </div>
  
</div>