:host{
    background-color: #ffffff;
    font-family: MicrosoftYaHei-Bold;
    margin: 0 auto;
    font-size: 0;
    height: 520px;
}
div.wai{
    width: 100%;
    height: 100%;
}

div>div.wenzi{
    display: inline-block;
    width: 50%;
    height: 100%;
    vertical-align: top;
    padding-top: 100px;
    padding-left: 10px;
}
div>div.img{
    /* padding-top: 58px; */
    position: relative;
    display: inline-block;
    width: 49%;
    height: 100%;
    line-height: 0;
}
div>img{
    /* line-height: 0; */
    position: absolute;
    top: 58px;
    height: 462px;
    
}
h1{
    font-family: MicrosoftYaHei-Bold;
    font-size: 54px;
    color: #0099ff;
    text-align: left;
}
ul li{
    text-align: left;
    color: #828a92;
    font-size: 24px;
    font-family: MicrosoftYaHei-Bold;
    
}