<div class="wai">
  <div class="wenzi wow fadeInLeft">
    <h1>199元包年电话任意打</h1>
    <ul>
      <li>不改变通话质量和方式，一天24小时免费打</li>
      <li>显示主叫真实号码</li>
      <li>主叫完全免费</li>
      <li>通话免流量</li>
    </ul>
  </div>
  <div class="img wow fadeInRight"><img src="assets/imgs/199call.png" alt=""></div>
</div>


<div class="wai">
    <div class="img wow fadeInLeft"><img src="assets/imgs/card.png" alt=""></div>
    <div class="wenzi wow fadeInRight">
      <h1>199元包年电话任意打</h1>
      <ul>
        <li>不改变通话质量和方式，一天24小时免费打</li>
        <li>显示主叫真实号码</li>
        <li>主叫完全免费</li>
        <li>通话免流量</li>
      </ul>
    </div>
  </div>


  <div class="wai">
      <div class="wenzi wow fadeInLeft">
        <h1>开拓丰富人脉</h1>
        <ul>
          <li>主要以名片形式来获取组成自己的人脉</li>
          <li>是商务人士必备的领域</li>
          <li>快速积累人脉，用过精准定位</li>
          <li>实现您的人脉资源无线化</li>
        </ul>
      </div>
      <div class="img wow fadeInRight"><img src="assets/imgs/live.png" alt=""></div>
    </div>